.bg-img {
  background-image: url("../../assets//images/header-bg.png");
}

.bg-img-contact {
  background-image: url("../../assets//images/contactusheader.jpg");
}

.bg-img-news {
  background-image: url("../../assets//images/newsheader.jpg");
}
